body{
    font-family: 'Montserrat';
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';

}
h3{
    font-weight: bold;
   }
p{
    color: #8f8f8f;
}
/* Heading Section */
#title{
    text-align: left;
}
.title-text{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}


/* Navigation bar */
.navbar{
    padding:0 0 4rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat-Light" ;
}
/* Buttons */
.download-btn{
    margin: 5% 3% 0% 0;
}
/* Title Image */
.title-img{
    width: 55%;
    transform: rotate(25deg);
    margin: 10%;
    position: absolute;
    right: 20%;
  
}
.container-fluid{
    padding: 6% 15% 10.5%;
}
/* Sections */
.colored-sec{
    background-color:#9E9D89;
    color: white;
}
.white-sec{
    background-color: #fff;
}
/* Feature Section */
#features{
    padding: 7% 15%;
    position: relative;
   
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.features-heading{
    font-weight: bold;
}
.icon{
    color:#9E9D89;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#D0AF84;
}
/* Testimonials section */
#testimonials{
    padding: 7% 15%;
    background-color:#D0AF84 ;
}
.testimonial-img{
    width: 15%;
    border-radius: 100%;
    padding: 20px;
}
.testimonials-text{
    font-weight: bold;
    line-height: 1.5;
    font-size: 2.5rem;
}
.carousel-inner
{
    padding: 0% 0% 0%;  
}
/* press section */
#press{
    background-color:#D0AF84 ;
    padding-bottom: 5%;  
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}
/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
.pricing-text{
    font-weight: bold;
    line-height: 1.5;
    font-size: 2.5rem; 
}
.pricing-heading{
    font-weight: bold;
    
}
/* cta section */
#cta{
    background-color: #D0AF84;
    padding: 7% 15%;
    font-family: 'Montserrat';
}
#footer{
    padding: 7% 15%;
}
.social-icon{
    margin: 2% 1%;
    
}
@media (max-width: 1040px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}
